<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja Dashboard</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/assets/mini.css/dist/mini-dark.min.css">
        <script src="/assets/jquery/dist/jquery.min.js"></script>
        <script src="js/master.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="heading">
                <h1>Welcome Please Log In!</h1>
            </div>
            <div class="login">
                <form action="/auth" method="post">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="input-group fluid">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="input-group fluid">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="primary" name="login">Log In</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
