<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Dashboard</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/assets/mini.css/dist/mini-dark.min.css">
        <script src="/assets/jquery/dist/jquery.min.js"></script>
        <script src="js/master.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="heading">
                <h1>Register</h1>
                <p>Complete all the information below.</p>
            </div>
            <div class="register">
                <form action="/create" method="post">
                    <fieldset>
                        <legend>Register User</legend>
                        <div class="input-group fluid">
                            <label for="fName">First Name:</label>
                            <input type="text" id="fName" name="fName" placeholder="First Name">
                        </div>
                        <div class="input-group fluid">
                            <label for="lName">Last Name:</label>
                            <input type="text" id="lName" name="lName" placeholder="Last Name">
                        </div>
                        <div class="input-group fluid">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="input-group fluid">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="input-group fluid">
                            <label for="confirm_pw">Confirm Password:</label>
                            <input type="password" id="confirm_pw" name="confirm_pw" placeholder="Confirm Password">
                        </div>
                        <button type="submit" class="primary" name="submit">Register</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
